
<div class="container">
  <div class="row">
    <div class="col-lg-2">
	<!--ジャンル検索-->
	</div>
	<div class="col-lg-10">
	  <h2 class="text-center">
		商品一覧
		<span>
		  (全<%= @products.count %>件)
		</span>
	  </h2>
	<div>
	  <% @products.each do |product| %>
	  <% if product.genre.is_valid == true %>
	  <% end %>
	  <% end %>
	 <div class="text-center"><%= paginate(@products) %></div>
  </div>
</div>