// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual-content {
  //background-image: url("<%= asset_path('coffee-shop-1209863_1280.jpg') %>");
  background-image: image-url('advocaat-2333451_1280.jpg');
  height: 400px;
  background-size:cover;
}

.main-visual-text {
  position: absolute;
  left: 30%;
  top: 30%;
  max-width: 100%;
  transform: translate(-50%,-50%);
  background-color: rgba(245,245,220,0.7);
  color: #333333;
}

.text-new {
  padding-top: 10px;
  padding-bottom: 10px;
}

.newproducts {
  display: flex;
}

.about-image {

  height: 400px;
  margin-top: 20px;
}

.title {
  font-size: 3em;
}

.text {
  font-weight: bold;
}

