// Place all the styles related to the public/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-contents {
    margin: auto;
}

.product {
　margin: auto;
}

.pagination {
    margin-right: auto;
    margin-left: auto;
}

.messages {
    color: #cc6652;
}

.sold-out {
    color: #cc6652;
}