<h1 style="text-align:center" class="title">About</h1>
<div style="text-align:center" class="text">
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。
</div>
<div style="text-align: center">
  <img src="assets/food-2940553_1280.jpg" class="about-image" ></img>
</div>