<!--<h1>商品新規登録</h1>-->
<%#= form_with model: @product, url:'/products', local:true do |f| %>
  <!--<h1>商品画像</h1>-->
  <%#= f.attachment_field :image %>
  <!--<h1>商品名</h1>-->
  <%#= f.text_field :name %>
  <!--<h1>商品説明</h1>-->
  <!--<%#= f.text_area :guide %>-->
  <!--<h1>ジャンル</h1>-->
  
  <!--<h1>税抜価格</h1>-->
  <!--<%#= f.text_field :price %>-->
  <!--<h1>販売ステータス</h1>-->
  <%#= f.select :is_active %>
  <!--<%#= f.submit "新規登録", class: "btn btn-success" %>-->
<%# end %>
  