<h4>注文情報入力</h4>

<h5>支払方法</h5>
<h5 style="font-size: 25px;">
                      <%= f.radio_button :payment_method, "クレジットカード", checked: true %>
                      <%= f.label "クレジットカード" %>
                      <br>
                      <%= f.radio_button :payment_method, "銀行振込" %>
                      <%= f.label "銀行振込" %>
                    </h5>