// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual-content {
  //background-image: url("<%= asset_path('coffee-shop-1209863_1280.jpg') %>");
  background-image: image-url('coffee-shop-1209863_1280.jpg');
  height: 400px;
  background-size:cover;
}

.about-image {
  within: 600px;
  height: 400px;
}